<div class="admin-licenses-container">
	<div class="admin-liscenses-title">
		<h1>Lawyer Licenses</h1>
	</div>
	<div class="licenses-table">
		<table>
			<tr>
				<th>Partner or Counsel</th>
				<th> Name </th>
				<th> Entity </th>
				<th> Date of Issuance</th>
				<th> Date to make Partner </th>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
