<div class="admin-profiles">
	<div class="admin-profiles-title">
		<h2>Employees</h2>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-profiles-card">
		</div>
		<div class="admin-profiles-card">
		</div>
		<div class="admin-profiles-card">
		</div>
		<div class="admin-profiles-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-profiles-card">
		</div>
		<div class="admin-profiles-card">
		</div>
		<div class="admin-profiles-card">
		</div>
		<div class="admin-profiles-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-profiles-card">
		</div>
		<div class="admin-profiles-card">
		</div>
		<div class="admin-profiles-card">
		</div>
		<div class="admin-profiles-card">
		</div>
	</div>
</div>