<div class="blog-container">
	<h1>BLOG FORM</h1>
	<div class="blog-card">
		<form action="/action_page.php">
  			<label for="fname">Subject Matter:</label>
  			<input type="text" id="fname" name="fname" value="">
  			<br></br>
  			<label for="lname">Keywords:</label>
  			<input type="text" id="lname" name="lname" value="">
  			<br><br>
  			<label for="lname">Target Audience:</label>
  			<input type="text" id="lname" name="lname" value="">
  			<br><br>
  			<label for="lname">Target Location(s):</label>
  			<input type="text" id="lname" name="lname" value="">
  			<br><br>
  			<div class="blog-btn">
  				<input type="submit" value="Submit">
  			</div>
		</form> 
	</div>
</div>

