// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #013878;
$yellow: #D2ab67;
$mango-yellow:#d2ab67;
$orange: #E67E22;
$green: #1EDD88;
$gray: #c4c4c4;
$mango-black:#414042;
$light-gray: #F4F4F4;
