.faq-container {
  background-image: url("https://source.unsplash.com/7e2pe9wjL9M/1329x353");
  background-repeat: no-repeat; 
  background-position: cover;
}

.faq-card {
  border-color: #D2AB67;
  border-width: 3px;
  border-radius: 10px;
  box-shadow: 5 5 4 0;
  background-color: #ffff;
  color: #d2ab67;
  font-family: lato;
  font-size: 24px;
  text-align: center;
  line-height: 100%;
  vertical-align: top;
  font-style: bold;
}

h1 {
  color: #D2AB67;
  font-family: lato;
  font-weight: bold;
  font-size: 56px;
  line-height: 67px;
  text-align: center;
}

.row {
  justify-content: space-around;
}