// Specific CSS for your home-page

html {
  background: url(https://source.unsplash.com/Nyvq2juw4_o/1600x900);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

h1 {
  color: #013878;
  font-family: lato;
  font-weight: bold;
  font-size: 56px;
  line-height: 67px;
  text-align: center
}

.card {
  color: #013878;
  background-color: #d2ab67;
}

.btn-primary {
  background-color: #013878;
  color: #d2ab67;
}