.support-container {
  background-image: linear-gradient(#d2ab67, white);
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
}

.support-card {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #d2ab67;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #013878;
  float: left;
  width: 33.33%;
  height: 195px;
  padding: 20px;
  text-align: center;
  flex: 1 1 0px;
  justify-content: space-between;
}

.support-card i {
  font-size: 44px;
}

.support-row {
  display: flex;
  flex-direction: wrap;
}