<div class="onboarding-container">
	<div class="info-row"> 
		<div class="onboarding-card">
			<div class="card-header">
				<h1> Welcome, </h1>
				<div class="card-body">
					<h6> We are excited for you to join our team. Please complete the onboarding process. Let us know if you have any questions. </h6>
				</div>
			</div>
		</div>
		<div class="onboarding-card">
			<div class="card-header">
				<h1> To Do: </h1>
				<div class="card-body">
					<h6> </h6>
				</div>
			</div>
		</div>
	</div>
	<h1></h1>
</div>