<div class="lawyer-dash-container">
	<div class="lawyer-title">
		<h1>Hello, User</h1>
		<h4>Welcome to the PLG Portal. How can we help you today?</h4>
	</div>
	<div class="lawyer-body">
		<h1>Frequently Asked Questions:</h1>
		<div class="lawyer-card">
			<div class="lawyer-card-header card-header">
				Where should I direct questions?
			</div>
			<div class="lawyer-card-body card-body">
				<ul>
					<li>Admin: Kalia & Jennifer</li>
					<li>Accounting: Lauren</li>
					<li>Marketing: Laurel</li>
					<li>Social Media: Kristyna</li>
					<li>Website/IT questions: Ask Squawk</li>
				</ul>
			<div>
		</div>
		<div class="lawyer-card">
			<div class="lawyer-card-header card-header">
				Why is my Office 365 not working?
			</div>
			<div class="card-body">
				-Make sure you have the most updated version.
				-Make sure you have downloaded Office 365 to your computer.
			<div>
		</div>
		<div class="lawyer-card">
			<div class="lawyer-card-header card-header">
				Who do I email when....?
			</div>
			<div class="card-body">
				Go to the Who’s who page to find out who to email when you have an issue. You can also put in a help desk ticket and it will be directed to the right department.
			<div>
		</div>
	</div>
</div>