.onboarding-card {
	background-color: #013878;
	color: #d2ab67;
	width: 500px;
	height: auto;
	font-size: 32px;
	top: 0;
}

.onboarding-card h1 {
	color: #d2ab67;
	font-size: 48px;
}

.info-row {
	padding: 50px;
	margin: 100px;
}

.onboarding-container {
	background-image: url(https://source.unsplash.com/IyOOKwXXMUM/1600x900);
	background-repeat: no-repeat;
	display: cover;
	height: 100%;
}