.onboarding-card {
	background-color: #013878;
	color: #d2ab67;
	width: 500px;
	height: auto;
	font-size: 32px;
	top: 0;
	border-radius: 10px;
}

.card-body-circle {
	border-radius: 50%;
}

.welcome-row {
	padding: 50px;
	justify-content: space-between;
}

.info-row {
	justify-content: left;
	top: 700px;
	align-items: flex-end;
}


.onboarding-card h1 {
	color: #d2ab67;
	font-size: 48px;
}

.onboarding-container {
	background-image: url(https://source.unsplash.com/IyOOKwXXMUM/1600x900);
	background-repeat: no-repeat;
	background-size: cover;
	display: cover;
	height: 100%;
	top: 0px;
	display: flex;
	flex-direction: row;
}

.onboarding-card-circle {
	border-radius: 50%;
	width: 200px;
	border-color: #d2ab67;
	border-style: solid;
	border-width: 1px;
	background-color: white;
}

.vision-card {
	background-color: #d2ab67;
	color: white;
	width: 500px;
	height: 872px;
	top: 107px;
	left: 857px;
	font-size: 26px;
	line-height: 200%;
}

.vision-card h1 {
	color: white;
	text-decoration: underline;
	font-size: 36px;
}

.mission-card {
	background-color: black;
	color: #d2ab67;
	width: 679px;
	height: 413px;
	top: 107px;
	left: 178px;
	font-size: 26px;
	line-height: 200%;
}

.mission-card h1 {
	color: #d2ab67;
	text-decoration: underline;
	font-size: 36px;
}

.about-card {
	background-color: #c4c4c4;
	color: black;
	width: 676px;
	height: 459px;
	top: 520px;
	left: 176px;
	font-size: 26px;
	line-height: 200%;
	align-self: flex-end;
}

.about-card  h1 {
 	color: black;
	text-decoration: underline;
	font-size: 36px;
}

