<div class="forms-container">
	<h4> Please fill out the forms below</h4>
	<div class="forms-row">
		<div class="forms-card">
			<h4>1. Profile Information</h4>
			<!--<a href="javascript:void();" class="readmore-btn">1. Profile Information</a>-->
			<!--<label for="education">Education:</label>
			<input type="text" id="education" name="education">-->
		</div>
		<div class="forms-card">
			<h4>2. Malpractice Insurance</h4>
		</div>
		<div class="forms-card">
			<h4>3. Benefits</h4>
		</div>
		<div class="forms-card">
			<a href="https://www.dropbox.com/s/igt0r01bnphmdt8/W-9.pdf?dl=0"target="_blank"alt="tax form w-9">
				<h4>4. Tax Form W-9</h4>
			</a>
		</div>
		<div class="forms-card">
			<a href="https://www.dropbox.com/scl/fi/5em8jeg9sc61tbdh2b1ae/NDA_Blank.docx?dl=0&rlkey=ktdu4zktrp1svp0arr6e8thzt"target="_blank"alt="nda form">
				<h4>5. NDA Form</h4>
			</a>
		</div>
		<div class="forms-card">
			<a href="https://www.dropbox.com/s/nq7wehkvqpf1k54/ACH_Payment_New%20.pdf?dl=0"target="_blank"alt="ach form">
				<h4>6. ACH Form</h4>
			</a>
		</div>
	</div>
	<script type="text/javascript">
		$(".readmore-btn").on('click',function(){
        $(this).parent().toggleClass("showContent");

        var replaceText = $(this).parent().hasClass("showContent") ? "Read Less" : "Read More";
        $(this).text(replaceText);
    	});	
	</script>
	
</div>