.tasks-contanier {
	background-image: url("https://source.unsplash.com/75xPHEQBmvA/1600x900");
	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100%;
  	width: 100%;
  	text-align: center;
}

.checklist-tasks {
	text-align: left;
	margin-left: 200px;
	color: #013878;
}