<div class="admin-videos">
	<div class="admin-videos-title">
		<button><i class="fas fa-cloud-upload-alt fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upload Video</button>
		<h1>Video Training</h1>
	</div>
</div>

