<div class="video-container">
	<%#= render 'shared/search' %>
	<h1>Video Training</h1>
	<div class="video-row">
		<div class="video-card">
			<div class="card-header">
				<iframe width="257" height="140" src="https://www.youtube.com/embed/xEqMeivLtKo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<h3>Training Video 1</h3>
			</div>
		</div>
		<div class="video-card">
			<div class="card-header">
				<iframe width="257" height="140" src="https://www.youtube.com/embed/xEqMeivLtKo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<h3>Training Video 2</h3>
			</div>
		</div>
		<div class="video-card">
			<div class="card-header">
				<iframe width="257" height="140" src="https://www.youtube.com/embed/xEqMeivLtKo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<h3>Training Video 3</h3>
			</div>
			<div class="card-body">
			</div>
		</div>
		<div class="video-card">
			<div class="card-header">
				<iframe width="257" height="140" src="https://www.youtube.com/embed/xEqMeivLtKo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<h3>Training Video 4</h3>
			</div>
			<div class="card-body">
			</div>
		</div>
		<div class="video-card">
			<div class="card-header">
				<iframe width="257" height="140" src="https://www.youtube.com/embed/xEqMeivLtKo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<h3>Training Video 5</h3>
			</div>
			<div class="card-body">
			</div>
		</div>
		<div class="video-card">
			<div class="card-header">
				<iframe width="257" height="140" src="https://www.youtube.com/embed/xEqMeivLtKo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<h3>Training Video 6</h3>
			</div>
			<div class="card-body">
			</div>
		</div>
	</div>
</div>


