<!--Navigation bar-->
<div id="mySidenav" class="sidenav">
  <!-- Left hand side navbar -->
  <ul class ="nav navbar-nav navbar-left sidenav">
    <li><a href="lawyer_tasks#index"><i class="fas fa-clipboard-list"></i>Checklist</a></li>

    <li><a href="lawyer_tasks#edit"><i class="fas fa-file-alt"></i>Forms</a></li>
    <li><a href="vidoes#view"><i class="fas fa-video"></i>Training Videos</a></li>
    <li><a href="pages#info"><i class="fas fa-hands-helping"></i>Helpful Information</a></li>
    <li><a href="pages#faq"><i class="fas fa-question"></i>FAQs</a></li>
    <li><a href="ticket#index"><i class="fas fa-hands-helping"></i>Helpdesk Ticket</a></li>
  </ul>
</div>
  <!--Navbar End-->
