<!--Navigation bar-->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-inner">
    <!--Container class div-->
    <div class="container-fluid">
      <!-- Left hand side navbar -->
      <ul class ="nav navbar-nav navbar-left">
        <li><a href="checklist#view">Checklist</a></li>
        <li><i class="fas fa-clipboard-list"></i></li>
        <li><a href="forms#view">Forms</a></li>
        <i class="fas fa-file-alt"></i>
        <li><a href="vidoes#view">Training Videos</a></li>
        <li><i class="fas fa-video"></i></li>
        <li><a href="information#view">Helpful Information</a></li>
        <li><i class="fas fa-hands-helping"></i></li>
        <li><a href="questions#view">FAQs</a></li>
        <li><i class="fas fa-question"></i></li>
        <li><a href="ticket#view">Helpdesk Ticket</a></li>
        <li><i class="fas fa-hands-helping"></i></li>
      </ul>
    </div>
  </div>
</nav>
  <!--Navbar End-->
