<!--Navigation bar-->
<div id="mySidenav" class="sidenav">
  <!-- Left hand side navbar -->
  <ul class ="nav navbar-nav navbar-left sidenav">
    <li><a href="checklist#view"><i class="fas fa-clipboard-list"></i><br></br>Checklist</a></li>
    <li><a href="forms#view"><i class="fas fa-file-alt"></i><br></br>Forms</a></li>
    <li><a href="vidoes#view"><i class="fas fa-video"></i><br></br>Training Videos</a></li>
    <li><a href="information#view"><i class="fas fa-hands-helping"></i><br></br>Helpful Information</a></li>
    <li><a href="questions#view"><i class="fas fa-question"></i><br></br>FAQs</a></li>
    <li><a href="ticket#view"><i class="fas fa-hands-helping"></i><br></br>Helpdesk Ticket</a></li>
  </ul>
</div>
  <!--Navbar End-->
