<!--Navigation bar-->
<div class="onboarded">
  <%= link_to "#", class: "navbar-brand" do %>
    <a href="https://www.parlatorelawgroup.com">
      <img height="70" alt="logo image" src="https://www.dropbox.com/s/4p41fikdjrjhfdy/gold_logo.png?raw=1">
    </a>
  <% end %>
  <div class="line">
    <hr>
  </div>
  <!-- Left hand side navbar -->
  <ul class ="nav navbar-nav navbar-left onboarded">
    <li><a href="benefits#view"><i class="fas fa-heart"></i>&nbsp;Benefits</a></li>
    <li><a href="https://www.dropbox.com/sh/r39qmol15sbe7y4/AAAylLPdalZk82S0b_SQ8gEMa?dl"><i class="fas fa-money-bill-alt"></i>&nbsp;Paystubs</a></li>
    <li><a href="profile#view"><i class="fas fa-user"></i>&nbsp;Profile</a></li>
    <div class="line">
      <hr>
    </div>
    <li><a href="blog#view"><i class="fas fa-file-medical"></i>&nbsp;Blog Form</a></li>
    <li><a href="headshots#view"><i class="fas fa-images"></i>&nbsp;Headshots</a></li>
    <li><a href="social_media#view"><i class="fas fa-globe-americas"></i>&nbsp;Social Media</a></li>
    <li><a href="pages/who#view"><i class="fas fa-users"></i>&nbsp;Who's Who</a></li>
    <div class="line">
      <hr>
    </div>
    <li><a href="training#view"><i class="fas fa-video"></i>&nbsp;Video Training</a></li>
    <li><a href="documents#view"><i class="fas fa-folder-open"></i>&nbsp;Shared Documents</a></li>
    <li><a href="ticket#view"><i class="fas fa-hands-helping"></i>&nbsp;Helpdesk Ticket</a></li>
  </ul>
</div>
  <!--Navbar End-->