<div class="faq-container">
  <div class="title mt-0 pb-0">
    <h1>Frequently</h1>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;Asked</h1>
    <h1>Questions</h1>
  </div>
  <div class="faq-row">
    <div class="faq-card">
      <div class="card-header">
        <h4>Who does what/Where should I direct questions?</h4>
      </div>
      <div class="card-body">
        <p>Admin: Kalia & Jennifer</p>
        <p>Accounting: Lauren</p>
        <p>Marketing: Laurel</p>
        <p>Social Media: Kristyna</p>
      </div>
    </div>
    <div class="faq-card">
      <div class="card-header">
        <h4>Can I keep my current business number?</h4>
      </div>
      <div class="card-body">
        <p> Yes, if it is a landline. </p>
      </div>
    </div>
    <div class="faq-card">
      <div class="card-header">
        <h4>Is there a list of partner practice areas?</h4>
      </div>
      <div class="card-body">
        <p>Yes, on the shared folder in Dropbox titled "All Practice Area" (This spreadsheet is editable, and must be opened in excel, not dropbox) by attorneys.</p>
      </div>
    </div>
    <div class="faq-card">
      <div class="card-header">
        <h4>Where can I find training?</h4>
      </div>
      <div class="card-body">
        <p>In the shared folder in Dropbox or on this website.</p>
      </div>
    </div>
    <div class="faq-card">
      <div class="card-header">
        <h4>Who pays for the virtual office?</h4>
      </div>
      <div class="card-body">
        <p>PLG</p>
      </div>
    </div>
    <div class="faq-card">
      <div class="card-header">
        <h4>What firm accounts does PLG have? Are trials available?</h4>
      </div>
      <div class="card-body">
        <ul>
          <li>Yes, Markify, Lawline, LexisNexis, ElderCounsel, WealthCounsel, and CaseText.</li>
          <li>Trials are available.</li>
          <li>Markify is roughly $50/monthly, Lawline is $299/2 years, LexisNexis is $135/monthly, 
          ElderCounsel is $60, and CaseText is $546/annually.</li>
          <li>If you already have a Lawline account, they will refund you the entire purchase price 
          and then charge a prorated amount for our discounted subscription.</li>
      </ul>
      </div>
    </div>
    <div class="faq-card">
      <div class="card-header">
        <h4>How do I add my email signature?</h4>
      </div>
      <div class="card-body">
        <ul>
          <li><a href="https://www.dropbox.com/scl/fi/p0o40v2hfu9vykmo24g5o/HOW-TO-GUIDE.docx?dl=0&rlkey=uflyuq5qmoz96ybzirflu18yc">Adding a email signature on a PC.</a></li>
          <li><a href="https://www.dropbox.com/scl/fi/p0o40v2hfu9vykmo24g5o/HOW-TO-GUIDE.docx?dl=0&rlkey=uflyuq5qmoz96ybzirflu18yc">Adding a email signmature on a MAC.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>