<div class="support-container">
	<h1>Hello,</h1>
	<h4>Welcome to the PLG Portal! How can we help you today?</h4>
	<div class="support-row">
		<div class="support-card">
			<a href="https://gusto.com/"target="_blank"alt="Gusto.com">
				<i class="fas fa-piggy-bank fa-7x"><br><br>Gusto</i>
			</a>
		</div>
		<div class="support-card">
      		<%= link_to new_ticket_path do %>
        		<i class="fas fa-hands-helping"></i>Helpdesk Ticket
      		<% end %>
    </li>
			<i class="fas fa-hands-helping fa-7x"><br><br>Helpdesk Ticket</i>
		</div>
		<div class="support-card">
			<a href="https://nordvpn.com/"target="_blank"alt="NordVPN.com">
				<i class="fas fa-laptop fa-7x"><br><br>VPN</i>
			</a>
		</div>
	</div>
	<div class="support-row">
		<div class="support-card">
			<a href="https://www.dropbox.com/scl/fi/cmvfjdg144pac520ycw6a/TEMPLATE-Social-Media-Calendar.xlsx?dl=0&rlkey=a4xclwtclgu4abibl7dv31s47"target="_blank"alt="Social Media Calendar">
				<i class="fas fa-calendar-alt fa-7x"><br><br>Social Media Calendar</i>
			</a>
		</div>
		<div class="support-card">
			<a href="https://www.ringcentral.com/"target="_blank"alt="RingCentral.com">
				<i class="fas fa-phone fa-7x"><br><br>RingCentral</i>
			</a>
		</div>
		<div class="support-card">
			<a href="https://www.adobe.com/"target="_blank"alt="Adobe.com">
				<i class="fab fa-buysellads fa-7x"><br><br>Adobe</i>
			</a>
		</div>
	</div>
	<div class="support-row">
		<div class="support-card">
			<%= link_to documents_path do %>
				<i class="fas fa-file-word fa-7x"><br><br>Shared Documents</i>
			<% end %>

		</div>
		<div class="support-card">
			<i class="fab fa-trello fa-7x"><br><br>To DO list</i>
		</div>
		<div class="support-card">
			<i class="fab fa-dropbox fa-7x"><br><br>Dropbox</i>
		</div>
	</div>
</div>