<div class="support-container">
	<h1>Hello,</h1>
	<h4>Welcome to the PLG Portal! How can we help you today?</h4>
	<div class="who-row">
		<div class="support-card">
			<i class="fas fa-piggy-bank fa-7x"></i>
		</div>
		<div class="support-card">
			<i class="fas fa-hands-helping fa-7x"></i>
		</div>
		<div class="support-card">
			<i class="fas fa-laptop fa-7x"></i>
		</div>
		<div class="support-card">
			<i class="fas fa-calendar-alt fa-7x"></i>
		</div>
		<div class="support-card">
			<i class="fas fa-phone fa-7x"></i>
		</div>
		<div class="support-card">
			<i class="fab fa-buysellads fa-7x"></i>
		</div>
		<div class="support-card">
			<i class="fas fa-file-word fa-7x"></i>
		</div>
		<div class="support-card">
			<i class="fab fa-trello fa-7x"></i>
		</div>
		<div class="support-card">
			<i class="fab fa-dropbox fa-7x"></i>
		</div>
	</div>
</div>