<div class="ticket-container">
	<h1>Help Desk Tickets</h1>
	<div class="table-responsive-lg">
		<table class="table w-auto table-striped table-hover table-bordered border-primary">
	  <thead>
	    <tr>
	      <th scope="col">Ticket Number:</th>
	      <th scope="col">Name:</th>
	      <th scope="col">Department</th>
	      <th scope="col">Message</th>
	      <th scope="col">Completed?</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td>Elizabeth Candelario</td>
	      <td>Accounting</td>
	      <td></td>
	      <td></td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td>N'kia</td>
	      <td>Marketing</td>
	      <td></td>
	      <td></td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td>Tim Parlatore</td>
	      <td> Administration</td>
	      <td></td>
	      <td></td>
	    </tr>
	  </tbody>
	</table>
	</div>
</div>

