<div class="ticket-container">
	<div class="ticket-title">
		<h1>Help Desk Ticket</h1>
	</div>
	<div class="ticket-card">
		<form>
  			<div class="form-group">
  				<div class="form-row">
    				<select class="form-control form-control-lg custom-select custom-select-lg mb-3">
							<option selected>Department:<i class="fas fa-chevron-down"></i></option>
							<option value="1">Accounting</option>
							<option value="2">Marketing</option>
							<option value="3">Administration</option>
					</select>
	    		</div>
  			</div>
 			<div class="form-group">
 				<div class="form-row">
    				<label for="exampleFormControlTextarea1">Tell us how we can help you today.</label>
   					<textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
   				</div>
  			</div>
  			<div class="blog-btn">
  				<input type="submit" value="Submit">
  			</div>
		</form>	
	</div>
</div>
