<div class="ticket-container">
	<div class="ticket-title">
		<h1>Help Desk Ticket</h1>
	</div>
	<div class="ticket-card">
		<label for="fname">Department:</label>
  			<input type="text" id="fname" name="fname" value="">
  			<br></br>
  			<label for="lname">Tell us how we can help you:</label>
  			<input type="text" id="lname" name="lname" value="">
  			<br><br>
  			<div class="blog-btn">
  				<input type="submit" value="Submit">
  			</div>
	</div>
</div>
