<div class="admin-documents">
	<h1>SHARED DOCUMENTS</h1>
	<div class="admin-documents-title">
		<div class="search-container">
    		<form action="/action_page.php">
      			<button type="submit"><input type="text" placeholder="Search.." name="search">
      			<i class="fa fa-search"></i></button>
    		</form>
  		</div>
		<button><i class="fas fa-cloud-upload-alt fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upload Documents</button>
	</div>
	<div class="admin-documents-card">
	</div>
	<div class="admin-documents-card">
	</div>
	<div class="admin-documents-card">
	</div>
</div>
