<div class="documents-container">
	<div class="documents-title">
		<h1>Shared Documents</h1>
	</div>
	<div class="files">
		<a href="https://www.dropbox.com/s/300h3jkbzz3cr6n/Opening%20a%20New%20Matter_April_2021.pdf?dl"><i class="fas fa-file-pdf fa-lg"></i>&nbsp;&nbsp;Opening a new matter</a>
	</div>
</div>

