<div class="documents-container">
	<div class="documents-title">
		<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shared Documents</h1>
	</div>
	<div class="shared-row d-flex flex-row-reverse">
		<div class="shared-card p-2">
			<a href="https://www.dropbox.com/s/300h3jkbzz3cr6n/Opening%20a%20New%20Matter_April_2021.pdf?dl">
			<i class="fas fa-file-pdf fa-lg"></i>&nbsp;&nbsp;Opening a new matter</a>
		</div>
		<div class="shared-card p-2">
			<a href="https://www.dropbox.com/s/thtkm7rq2e6lhj2/running_invoices.pdf?dl">
			<i class="fas fa-file-pdf fa-lg"></i>&nbsp;&nbsp;Running Invoices</a>
		</div>
		<div class="shared-card p-2">
			<a href="https://www.dropbox.com/s/wa2ad6kgzs9gpaz/Partner%20Manual.pdf?dl">
			<i class="fas fa-file-pdf fa-lg"></i>&nbsp;&nbsp;Partner Manuel</a>
		</div>
		<div class="shared-card p-2">
			<a href="https://www.dropbox.com/s/oi8hokqv8hehbkx/Partnership%20Agreement.pdf?dl">
			<i class="fas fa-file-pdf fa-lg"></i>&nbsp;&nbsp; Partner Agreement</a>
		</div>
	</div>
</div>

