<div class="forms-container">
	<h4> Please fill out the forms below</h4>
	<div class="forms-row">
		<div class="forms-card">
			<h4>4. Tax Form W-9</h4>
		</div>
		<div class="forms-card">
			<h4>6. ACH Form</h4>
		</div>
	</div>
	<script type="text/javascript">
		$(".readmore-btn").on('click',function(){
        $(this).parent().toggleClass("showContent");

        var replaceText = $(this).parent().hasClass("showContent") ? "Read Less" : "Read More";
        $(this).text(replaceText);
    	});	
	</script>
	
</div>