<div class="tasks-contanier">
	<div class="name mb-0 pt-5">
		<h3>My Onboarding Checklist</h3>
	</div>
	<div class="checklist-task-row">
		<div class="set-up">
			<h5>SET UP ACCOUNTS</h5>
			<ul class="list-items">
				<li>Install Office 365
					<%#= check_box_tag 'install_office', @support_tasks.id, @support_tasks.install_office,
						data: {
							remote: true,
							url: toggle_support_task_path(@support_tasks, params: {task: "install_office"}),
							method: "POST",
						}
				 	%> 
				</li>
				<li><i class="far fa-square fa-lg"> RingCentral</i></li>
				<li><i class="far fa-square fa-lg"> Adobe Pro DC</i></li>
				<li><i class="far fa-square fa-lg"> VPN </i></li>
				<li><i class="far fa-square fa-lg"> Dropbox </i></li>
				<li><i class="far fa-square fa-lg"> Gusto </i></li>
			</ul>
		</div>
		<div class="set-up">
			<h5>FORMS TO FILL OUT</h5>
			<ul class="list-items">
				<li><i class="far fa-square fa-lg"> Tax Form W-9</i></li>
				<li><i class="far fa-square fa-lg"> ACH Form</i></li>
			</ul>
		</div>
		<div class="set-up">
			<h5>UPDATE/CREATE PROFILES</h5>
			<ul class="list-items">
				<li><i class="far fa-square fa-lg"> Update all social Media </i></li>
				<li><i class="far fa-square fa-lg"> Email Signature</i></li>
			</ul>
		</div>
		<div class="set-up">
			<h5>TRAINING AND ORIENTATION</h5>
			<ul class="list-items">
				<li><i class="far fa-square fa-lg"> New Employee Training</i></li>
			</ul>
		</div>
	</div>
</div>
