<div class="admin-onboarding-container">
	<h2> ONBOARDING PROCESS </h2>
	<div class="admin-onboarding-card">
	</div>
	<div class="admin-onboarding-card">
	</div>
	<div class="admin-onboarding-card">
	</div>
</div>