.form-page-background {
  background: url(https://source.unsplash.com/WB3ujiKLJwQ/1600x1300);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.form-card {
  color: #013878;
  background-color: #d2ab67;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 500px;
  height: auto;
  text-align: center;
  justify-content: center;
}



.form-background {
  background: linear-gradient(#ffffffa6, #ffffff94);
  border-radius: 20px;
}

.form-actions {
  border-radius: 50px;
  padding: 5px;
}

.form-partial-button {
  border-radius: 10px;
  background: linear-gradient(#cabcac, #e8e6dfc4);

  &:hover {
    background-color: #cabcac;
    transition: 2s;
  }
}

.form-inputs {
  color: #013878;
  font-weight: bold;
  border-radius: 10px;
  width: 50%;
  display: block;
  flex: wrap;
  justify-content: center;
  margin-left: 130px;
}

.assigned-form {
  width: 20%;

}

.unavailable-card {
  border-radius: 20px;
  background-color: #c4c4c4;
  padding: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

