

.navbar-onboarded {
  background-color: #d2ab67;
  color: #013878;
  height: 100px;
  width: 100%;
  color: #013878;
}

.header-body {
  color: #013878;
  text-align: center;
  margin-left: 238px;
  position: absolute;
  left: auto;
  text-align: center;
  margin-top: 18px;
}

.header-body h6 {
  font-size: 14px;
}
