.navbar-mt {
  justify-content: space-between;
  background: #013878;
  color: #d2ab67;
  .navbar-brand, .dropdown-item {
    color: #d2ab67;
  }
}

.navbar-mt .navbar-collapse {
  flex-grow: 0;
  color: #d2ab67;
}

.navbar-mt .navbar-brand img {
  width: 40px;
  color: #d2ab67;
}

.img {
  display: inline-block;
}

.nav-item active {
  font-color: #d2ab67;
}

.nav-link {
  font-color: #d2ab67;
  padding: 15px;
}

.avatar-circle {
  border-radius: 50%;
  width: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 15px;
}
