.onboarded {
	background-color: #013878;
	font-size: 22px;
	margin-right: 10px;
	text-align: center;
	color: #d2ab67;
	overflow-x: hidden; /* Disable horizontal scroll */
	position: fixed; /* Stay in place */
  	z-index: 1; /* Stay on top */
  	height: 100%;
  	width: 250px;
  	top: 0px;
}

.line {
	color: white;
	width: 100%;
	height: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.onboarded i {
	color: #d2ab67;
	padding: 5px;
}

a {
	color: #d2ab67;
}

.navbar-brand {
	text-align: left;
}

img {
	text-align: center;
}

hr {
	margin-bottom: 10px;
}

.item {
	height: 50px;
}

