<div class="admin-headshots">
	<div class="admin-headshots-title">
		<h1>Lawyer Headshots</h1>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
		<div class="admin-headshots-card">
		</div>
	</div>
</div>
