<div class="admin-socials-container">
	<div class="admin-socials-title">
		<div class="search-container">
    		<form action="/action_page.php">
      			<button type="submit"><input type="text" placeholder="Search.." name="search">
      			<i class="fa fa-search"></i></button>
    		</form>
  		</div>
		<h1>Social Media </h1>
		<button><i class="fas fa-cloud-upload-alt fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upload Documents</button>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
	</div>
</div>

