<div class="admin-socials-container">
	<div class="admin-socials-title">
		<h1>Social Media </h1>
		
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
	</div>
</div>

