<div class="admin-socials-container">
	<div class="admin-socials-title">
		<button><i class="fas fa-cloud-upload-alt fa-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upload Documents</button>
		<h1>Social Media </h1>
		
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
	</div>
	<div class="d-flex justify-content-center mt-3 pro">
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
		<div class="admin-socials-card">
		</div>
	</div>
</div>

